@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,800;0,900;1,300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #111111;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
  min-height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
  height: 960px;
  width: 960px;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex: 1;
}

.cell {
  border: 1px solid #dddddd;
  flex: 1;
}